<div id="history-div">
  <h3>Shorten History</h3>
  <h6>Each click on the link will extend the validity period by 14 days.</h6>

  <table class="table" id="history-table">
    <thead>
      <tr>
        <th scope="col" width="8%">#</th>
        <th scope="col" width="35%">Origin URL</th>
        <th scope="col" width="25%">Shorten URL</th>
        <th scope="col" width="8%"></th>
        <th scope="col" width="24%">Expiration Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each historyUrl}}
      <tr>
        <td scope="row">{{getIndex @index ../page}}</td>
        <td>
          <a href="{{this.url_origin}}" target="_blank" class="text-href">
            <span class="link-text">
              {{cutString this.url_origin}}
            </span>
          </a>
        </td>
        <td>
          <a href="{{../fullhost}}/{{this.url_shorten}}" target="_blank" class="text-href">
            <span class="link-text">
              {{../fullhost}}/{{this.url_shorten}}
            </span>
          </a>
        </td>
        <td> <i class="fa-solid fa-copy fa-lg"></i> </td>
        <td>{{getDate this.expiration_date}} ({{relativeTimeFromNow this.expiration_date}})</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<nav aria-label="page navigation" id="pagination">
  <ul class="pagination">
    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
      <a class="page-link" href="/history?page={{pagination.prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each pagination.pages}}
    {{#ifCond this ../pagination.currentPage}}
    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
    {{else}}
    <li class="page-item">
      <a class="page-link" href="/history?page={{this}}">{{this}}</a>
    </li>
    {{/ifCond}}
    {{/each}}
    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
      <a class="page-link" href="/history?page={{pagination.next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>