<div id="history-div">
  <h3>Shorten History</h3>

  <table class="table" id="history-table">
    <thead>
      <tr>
        <th scope="col" width="8%">#</th>
        <th scope="col" width="35%">Origin URL</th>
        <th scope="col" width="25%">Shorten URL</th>
        <th scope="col" width="8%"></th>
        <th scope="col" width="24%">Expiration Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each historyUrl}}
      <tr>
        <td scope="row">{{getIndex @index}}</td>
        <td><a href="{{this.url_origin}}" target="_blank">{{cutString this.url_origin}}</a></td>
        <td> <a href="{{../fullhost}}/{{this.url_shorten}}" target="_blank">{{../fullhost}}/{{this.url_shorten}}</a>
        </td>
        <td> <i class="fa-solid fa-copy fa-lg"></i> </td>
        <td>{{getDate this.expiration_date}} ({{relativeTimeFromNow this.expiration_date}})</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>