<div id="trend-column">
  <div id="most-clicks">
    <h3>Highest Click Count</h3>
    <table class="table" id="trend-table">
      <thead>
        <tr>
          <th scope="col" width="10%">Rank</th>
          <th scope="col" width="60%">URL</th>
          <th scope="col" width="30%">Click Counts</th>
        </tr>
      </thead>
      <tbody>
        {{#each mostClickUrl}}
        <tr>
          <td scope="row">{{getIndex @index 1}}</td>
          <td> <a href="{{../fullhost}}/{{this.url_shorten}}" target="_blank" class="text-href" data-bs-html="true"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              data-bs-title="Origin Url<br> <strong>{{this.url_origin}}</strong>">
              <span class="link-text">
                {{../fullhost}}/{{this.url_shorten}}
              </span>
            </a>
          </td>
          <td>{{this.click_time}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div id="most-days">
    <h3>Longest Valid Days</h3>
    <table class="table" id="trend-table">
      <thead>
        <tr>
          <th scope="col" width="10%">Rank</th>
          <th scope="col" width="60%">URL</th>
          <th scope="col" width="30%">Valid Days</th>
        </tr>
      </thead>
      <tbody>
        {{#each mostExpirUrl}}
        <tr>
          <td scope="row">{{getIndex @index 1}}</td>
          <td>
            <a href="{{../fullhost}}/{{this.url_shorten}}" target="_blank" class="text-href" data-bs-html="true"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              data-bs-title="Origin Url <br> <strong>{{this.url_origin}}</strong>">
              <span class="link-text">
                {{../fullhost}}/{{this.url_shorten}}
              </span>
            </a>
          </td>
          <td>{{this.valid_days}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>